// Override default variables before the import
$body-bg: #fff;

.question {
  display: none;

  &.active {
    display: block;
  }

  .answer {
    cursor: pointer;

    &.active {
      background: green;
      color: #fff;
      border: 2px solid green;
    }
  }
}

.share {
  @media (min-width: 992px) {
    width: 50%;
  }
}
