// Override default variables before the import
$body-bg: #fff;

.navbar-brand {
  white-space: normal;
}

.question {
  display: none;

  &.active {
    display: block;
  }

  .answer {
    cursor: pointer;

    &.selected,
    &.selected.answered {
      background: green;
      color: #fff;
      border: 2px solid green;
    }

    &.answered {
      background: lightgreen;
      border: 2px solid lightgreen;
    }
  }
}

.share {
  @media (min-width: 992px) {
    width: 50%;
  }
}
