html {
  scroll-behavior: smooth;
}

// Override default variables before the import
$body-bg: #fff;

// image picker
.image-picker {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

// header
.navbar-brand {
  white-space: normal;
}

// answers
.question {
  display: none;

  &-delete {
    height: 40px;
  }

  &.active {
    display: block;
  }

  .answer {
    cursor: pointer;

    &-delete {
      position: absolute;
      right: 0;
    }

    &.selected,
    &.selected.answered {
      background: teal;
      color: #fff;
      border: 2px solid teal;
    }

    &.answered {
      background: lightblue;
      border: 2px solid lightblue;
    }
  }
}

.share {
  @media (min-width: 992px) {
    width: 50%;
  }
}
